---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="About">
  <h1>About me</h1>
  <p>
    I am Andrei, a software engineer with 18 years of experience in development,
    leadership and research, father of two from London.
  </p>
  <p>
    I was born in a small village in Belarus, and I didn't have a computer at
    home or in class, that's why I was so shocked when I saw them for the first
    time at University. Shock didn't stop me from the wish to use them, which
    still lives in my heart and brain.
  </p>

  <p>
    After graduating from school as the best pupil, I decided to go to the best
    IT university in the country (actually, there are only two focused on
    Computer Science). I started my work during the 4th year of education
    because I needed more than that for my speciality.
  </p>

  <p>
    My first job was at a company with solid expertise in hardware development
    for BritishTelecom and Telstra. I’ve got excellent software developer
    knowledge and communication lessons between our firm and customers. I was
    working under OnePlan Transport - a network planning system that provides
    state-of-the-art algorithms in intuitive software to support the swift and
    practical design of metro network scenarios. It was a place with great
    developers (many of them already work in Google\Facebook\Microsoft), and it
    was a pleasure to be taught by them.
  </p>

  <p>
    The field close for me was finance - the part of the IT world that
    influences everybody, starting with easy money spending and ending with
    transparent mortgage rates. That’s why I've decided to grow in another area
    and choose a firm with deep expertise in the software development area, and
    it was my goal. I was impressed with the significant number of people,
    projects and technologies involved, how these technologies change everyday
    life, and how important they are. I was working on multiple projects in
    collaboration with Raiffaisen Bank, supposed to cust cost with SWIFT
    transactions, solve the latency issues they were observing, and deliver new
    products in a time everybody assumed was difficult. But my teammates and I
    finished in time.
  </p>

  <p>
    During the meetups & conferences, I met several people with impressive
    knowledge of financing. They promoted me to my current company, a leading
    trading and risk management software solutions provider. It was a challenge
    to improve, especially in the area I was focusing on, so I accepted their
    offer and started work as a lead developer under several existing projects
    with US & EU banks. As a part of onboarding, I was on business trips to USA
    & UK to visit our partners, and both countries impressed me with the
    cultural vibe which still lives with me.
  </p>

  <p>
    One of the most exciting projects I worked on for many years was Risk
    Platform, an award-winning first-on-market powerful XVA solution for banks
    and financial institutions. I led the design and implementation of
    front-office, mid-office and back-office software for strategy, asset and
    risk management, utilising the best market practices, quantitative
    algorithms and technical architecture. The product I was leading was awarded
    multiple times, including but not limited to the famous RiskNET award for
    the best XVA product.
  </p>

  <p>
    Another outstanding award of our team is Best Digital Transformation
    Solutions Provider for the tremendous potential for cloud computing for
    capital markets in enabling seamless integration of new technologies (such
    as serverless computing and NoSQL) and paradigms (such as big data and
    machine learning) into front-office and risk management applications. In the
    past, the main barrier to cloud adoption was the lack of certainty and
    industry experience in complying with data protection regulations and
    internal policies when firms’ data – and, more importantly, their client's
    data – is not located in their own data centre. Following advances in cloud
    security and the steps taken by regulators to clarify how capital markets
    firms can implement regulatory data protection requirements in the cloud,
    privacy and security are no longer the main obstacles to cloud adoption.
    Organisations that move their business processes to the cloud will gain a
    decisive competitive advantage by deploying the new technologies and
    analytics faster and at a lower cost than competitors that continue to use
    on-premises data centres. My company, a leading provider of professional
    services, works with many clients and partners worldwide. It was an honour
    to be involved and lead the top trading product for US bank, with
    infrastructure and analytics functionality. The application is the
    foundation for cross-asset trading user interfaces, real-time intraday
    pricing tools, execution platforms, and automated trading. Our team created
    it to handle large amounts of daily trades in different regions, including
    the London Stocks Exchange and Honk-Kong Exchange.
  </p>
  <p>
    I've also led the team for the one of financial institutions with 300+ bln
    USD combined assets under management. The first is a cloud-based end-to-end
    expense application that can track, calculate, allocate, and pay vendor
    invoices. It also calculates and pays contractual fees and budget expenses
    (unitary vs traditional) with varying forecasting methods and creates
    automated/scheduled and on-demand reporting. We designed and implemented
    this innovative product to synchronise customer systems with external so
    that regulators can be sure that this messaging satisfies all the required
    guidelines and criteria. The next one was the multi-cloud vendor management
    solution. A government-regulated product with the ability to do oversight
    reviews, automated workflows and reporting that leverages opportunities for
    contract consolidation, cost savings and visibility to spend detail by
    category.
  </p>
</Layout>
