---
import Landing from '../components/Landing.astro';
import Layout from '../layouts/BaseLayout.astro';

---
<html>
  <body>
    <h1>Hello, World!</h1>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>