---
---

<footer class='w-full mt-16 sm:mt-4' aria-labelledby='footer-heading'>
    <div class='wave-b'>
      <div class='grid grid-cols-1 px-4 py-8 mx-auto max-w-8xl lg:px-0 lg:grid-cols-3'>
        <div class=''></div>
        <div class='text-xs xs:text-sm text-center flex flex-col justify-center items-center gap-2'>
          <div id='footer-message' class='flex justify-center mx-auto text-center md:flex-row footer-text-b'></div>
          <a href='https://astro.build' target='_blank' rel='noopener noreferrer' class='mt-6'>
            <img src='https://astro.badg.es/v1/built-with-astro.svg' alt='Built with Astro' width='150' height='27.5' />
          </a>
        </div>
      </div>
    </div>
  </footer>